*{

    padding: 0;
    margin: 0;

}

body{

    font-family: 'Nunito'; font-size: 16px;
}


/* Global setting css start here */


:root {

    --Primary-color : #bf4619;
    --secondary-color : #f29d35;
    --background : #EDEDED
    ;
    

}


/* main menu background css start */


.container{

    background-color: var(--background);
    padding: 20px;
    
    
}

.container .nav {

    display: flex;
    width: 80%;
    /* border : 1px solid red; */
  justify-content: space-between;
    margin: auto;
}



/* logo css */

.logo{

   
}

.logo img{

    width : 160px;
    
}




.page-name{

    /* border: 2px solid red; */
    display: flex;
    align-items: center;
      
   
}



.page-name li {

    display: inline-block;
    padding: 10px 20px 10px 20px ;
    list-style-type: none;
    transition: all ease-in-out 300ms;
    border-radius: 30px;
    
    
    
}

.page-name li a{

    text-decoration: none;
color: var(--Primary-color)

}


.page-name li:hover{

    background-color: var(--secondary-color);
    color : var(--background);
 
}

.page-name li a:hover{


    color: var(--background);
}
