*{

    padding: 0;
    margin: 0;

}


/* Global setting css start here */


:root {

    --Primary-color : #bf4619;
    --secondary-color : #f29d35;
    --background : #EDEDED
    ;
    

}


/* main menu background css start */


.container{

    background-color: var(--background);
    padding: 20px;
    
    
}

.container .nav {

    display: flex;
    
}



/* logo css */

.logo{

    margin: auto;
}

.logo img{

    width : 160px;
    
}

.menu-links{
    margin: auto;
}


.page-name{

    border: 2px solid red;
    display: flex;
    position: absolute;
    right: 30px;
    top: 30px;
}


.page-name li {

    display: inline-block;
    padding-left: 30px;
    
    
}

.page-name li a{

    text-decoration: none;
    color: var(--Primary-color);
}

