*{

    padding: 0;
    margin: 0;
}


/* Global setting css start here */


:root{

    --Primary-color : #bf4619;
    --secondary-color : #f29d35;
    
}


/* main menu background css start */


.container{

    background-color: #fcfcfc;
    
}

.container .nav {

    display: flex;
    
}

.page-name li{

    display: inline-block;
}

.page-name li a{

    text-decoration: none;
    color: ;
}

